{%extends "base.html" %}
{%block title%}Notes{%endblock%}

{%block content%}
<button type="button" class="btn btn-primary" onclick="location.href='{%url 'add'%}';">Add Note</button>
<br><br>
{%if notes%}
<div class="card-deck">
{%for note in notes%}
    <div class="card border-primary mb-3 text-center" style="max-width: 18rem;">

  <div class="card-body text-primary">

    <p class="card-text">{{note.content}}</p>
      <button type="button" class="btn btn-danger" onclick="location.href='{%url 'delete' note.id %}';">Delete</button>
 <button type="button" class="btn btn-warning" onclick="location.href='{%url  'update' note.id%}';">Change</button>
  </div>
</div>






{%endfor%}
</div>
{%else%}
    <p>There is no notes</p>
{%endif%}
<br><br>



{%endblock%}