.logout
{
  font-family: Lato-Regular;
  font-size: 30px;
}

@font-face
{
  font-family: Lato-Regular;
  src:url(Lato-Regular.ttf);
}

body, html
{
  height: 100%;
  margin: 0;
  background-color: black;
}
